Importing the libraries

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection, Analysis and Preprocessing

In [6]:
mail=pd.read_csv('mail_data.csv')

In [7]:
mail.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail.shape

(5572, 2)

In [11]:
#replacing null values with empty string
mail_data=mail.where((pd.notnull(mail)), '')

In [13]:
mail.isnull().sum()

Category    0
Message     0
dtype: int64

Label Encoding

In [14]:
#spam: 0 , ham: 1
mail_data.replace({'Category': {'spam':0,'ham':1}}, inplace=True)

In [15]:
mail_data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

Separating Features and Label

In [16]:
X=mail_data['Message']
Y=mail_data['Category']
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

Splitting the data into Training and Testing data

In [17]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=3)

In [18]:
print(X.shape,X_train.shape,X_test.shape)

(5572,) (4457,) (1115,)

Feature Extraction

In [20]:
#tranform text data to feature vectors that can be used as input to Logistic Regression
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [32]:
# transform the text data to feature vectors that can be used as input to the Logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Model Training

In [22]:
model=LogisticRegression()

In [23]:
model.fit(X_train_features,Y_train)

LogisticRegression()

Model Evaluation

In [25]:
X_train_prediction=model.predict(X_train_features)
training_data_accuracy=accuracy_score(Y_train,X_train_prediction)

In [26]:
print('Accuracy score of training data:', training_data_accuracy)

Accuracy score of training data: 0.9670181736594121

In [33]:
X_test_prediction=model.predict(X_test_features)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)

In [34]:
print('Accuracy score of testing data:', test_data_accuracy)

Accuracy score of testing data: 0.9659192825112107